/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/* sticky footer */
/*html {*/
  /*position: relative;*/
  /*min-height: 100%;*/
/*}*/
/*body {*/
  /*!* Margin bottom by footer height *!*/
  /*margin-bottom: 460px !important;*/
/*}*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

 /*CSS for progress bars*/
.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  /*top: 7px;*/
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100%;
  /*border: 3px groove #CCC;*/
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.override-gutter {
  padding: 0px !important;
}
.override-outline {
  display: inline;
}

.positionStyle{
  font-weight: bold;
  font-size: 1em;
}

.contact-info {
  padding-top: 21px;
}

.height-17 {
  height: 17px;
}

.all-Margin-0 {
  margin: 0 0 0 0 !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.padding-right-15 {
  padding-right: 15px;
}