<div class="col col-md-10 col-md-offset-1" ng-app="myApp.view1" ng-controller="View1Ctrl">
    <!--<h1>LinguaX</h1>-->
    <h1>LinguaX</h1>
    <p>This domain was established to be used as a demonstration of the LinguaX processor.</p>
    <br />
    <!-- Added smart form, as in startdate -->
    <form class="smart-form"
          action="./tempFiles"
          name="submitResume"
          method="post"
          enctype="multipart/form-data">

        <button
                ngf-select="uploadFiles($files)"
                multiple
                accept=".doc,.docx,.pdf,.rtf,.txt,.odf"
                ngf-max-height="1000"
                ngf-max-size="1mb"
                type="button"
                class="btn btn-md btn-default"
                href="#!/view2">
            File upload demo
        </button>
        <br><br>
        <div ng-show="files">
             File Uploads:
        </div>
        <div>
            <ul style="list-style:none;padding-left:0px;">
                <li ng-repeat="f in files" class=pull-left" style="font:smaller">
                    <div>
                        <div class="height-17 inline col-md-8 pull-left">
                            {{f.name}} {{f.$errorParam}}
                        </div>
                        <div class="height-17 pull-right inline col-md-4 all-Margin-0" style="vertical-align:top;">
                            <span class="progress pull-right all-Margin-0" ng-show="f.progress >= 0">
                                <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'">
                                </div>
                            </span>
                        </div>
                    </div>
                </li>
                <div>
                    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                    </li>
                </div>
            </ul>
        </div>

    </form>

    {{errorMsg}}

    <br />
    <br />
    <div ng-show="resTrue">

        <!-- candidate info -->
        <div class="col col-md-12 override-gutter">

            <div ng-show="resTrue" class="margin-top-15">
                LinguaX Response:
                <div style="padding-left:15px;margin-top:10px;">
                    <div class="padding-right-15">
                        <span class="progress pull-right" ng-show="percentComp >= 0">

                            <div style="width:{{percentComp}}%" ng-bind="percentComp + '% complete'">
                            </div>
                        </span>
                    </div>
                </div>
            </div>

            <div ng-controller="AccordionCtrl">
                <div ng-controller="checkBoxCtrl">
                    <script type="text/ng-template" id="group-template.html">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title" style="color:#fa39c3">
                                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                                        <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                                            {{heading}}
                                        </span>
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                <div class="panel-body" style="text-align: right" ng-transclude></div>
                            </div>
                        </div>
                    </script>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="oneAtATime" />
                            Open only one at a time
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="selectAll" ng-click="checkAll()" />
                            Select all
                        </label>
                    </div>
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group ng-repeat="person in returnedDataArray" class="panel-default">

                            <div uib-accordion-heading>
                                {{person.hrJson.GivenName}} {{person.hrJson.FamilyName}}
                                <div class="pull-right" ng-click="$event.stopPropagation()">
                                    <input type="checkbox" ng-model="person.Selected" />
                                </div>
                            </div>

                            <h2>{{person.hrJson.GivenName}} {{person.hrJson.FamilyName}}</h2>
                            <br />

                            <uib-accordion close-others="oneAtATime">

                                <div uib-accordion-group class="panel-default" heading="Contact Information">
                                    <div class="col contact-info">
                                        <div class="col-md-6">
                                            <div class="col-md-3">
                                                Name:
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{person.hrJson.GivenName}} {{person.hrJson.FamilyName}}</p>
                                            </div>

                                            <div ng-repeat="phone in person.hrJson.Phone">
                                                <div class="col-md-3">
                                                    Phone:
                                                </div>
                                                <div class="col-md-9">
                                                    <p>{{phone["Number"]}}</p>
                                                </div>
                                            </div>
                                            <div ng-repeat="email in person.hrJson.Email">
                                                <div class="col-md-3">
                                                    Email:
                                                </div>
                                                <div class="col-md-9">
                                                    <p>{{email["Address"]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div ng-repeat="address in person.hrJson.Address">
                                                <div class="col-md-3">
                                                    Address:
                                                </div>
                                                <div class="col-md-9">
                                                    <div ng-repeat="line in address">
                                                        {{line}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div uib-accordion-group ng-show="person.hgJson.Objective" class="panel-default" heading="Objective">
                                    <div class="clear-left clear-right">
                                        <p>{{person.hgJson.Objective}}</p>
                                        <br />
                                    </div>
                                </div>

                                <div uib-accordion-group ng-show="person.hgJson.Summary" class="panel-default" heading="Summary">
                                    <div>
                                        <p>{{person.hgJson.Summary}}</p>
                                        <br />
                                    </div>
                                </div>

                                <div uib-accordion-group ng-show="person.hrJson.PositionHistory" class="panel-default" heading="Work History">
                                    <div>
                                        <div ng-repeat="position in person.hrJson.PositionHistory">
                                            <div class="col-md-8">
                                                <div ng-if='position["PositionTitle"]' class="override-outline">
                                                    <p class="positionStyle override-outline"><i>{{position["PositionTitle"]}} {{position["Employer"]}}</i></p>
                                                </div>
                                                <div ng-if='!position["PositionTitle"]' class="override-outline">
                                                    <p class="positionStyle override-outline"><i>Position {{$index+1}}</i></p>
                                                </div>
                                                <div ng-if='position["Employer"]' class="override-outline">
                                                    <p class="positionStyle override-outline"><i> - {{position["Employer"]}}</i></p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div ng-show='position["StartDate"]'>
                                                    <p class="positionStyle pull-right"><i>{{position["StartDate"]}} - {{position["EndDate"]}}</i></p>
                                                </div>
                                                <div ng-show='!position["StartDate"]'>
                                                    <p class="positionStyle pull-right"><i>Start Date - End Date</i></p>
                                                </div>
                                            </div>
                                            <div style="clear:left;" ng-if='position["Description"]'>
                                                <p ng-repeat='sentence in position["sentences"]'>{{sentence}}. </p>
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                               </div>

                                <div uib-accordion-group ng-show="person.hgJson.SectionText.Experience" class="panel-default" heading="Experience">
                                    <div>
                                        <p>{{person.hgJson.SectionText.Experience}}</p>
                                        <br />
                                    </div>
                                </div>

                                <div uib-accordion-group ng-show="person.hgJson.SectionText.Skill" class="panel-default" heading="Skill">
                                    <div>
                                        <p>{{person.hgJson.SectionText.Skill}}</p>
                                        <br />
                                    </div>
                                </div>

                                <div uib-accordion-group ng-show="person.hrJson.EducationOrganizationAttendance" class="panel-default" heading="Educational Attendance">
                                    <div ng-repeat="school in person.hrJson.EducationOrganizationAttendance">
                                        <div class="col-md-8">
                                            <div ng-if='school["School"]' class="override-outline">
                                                <p class="positionStyle override-outline"><i>{{school["School"] ? school["School"] : "School " + ($index+1)}}</i></p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div ng-show='school["AttendanceStartDate"]'>
                                                <p class="positionStyle pull-right"><i>{{school["AttendanceStartDate"] ? school["AttendanceStartDate"] : "Start Date" }} - {{school["AttendanceEndDate"] ? school["AttendanceEndDate"] : "End Date"}}</i></p>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                </div>

                                <div uib-accordion-group ng-show="person.hgJson.SectionText.Education" class="panel-default" heading="Education Details">
                                    <div>
                                        <p>{{person.hgJson.SectionText.Education}}</p>
                                        <br />
                                    </div>
                                </div>

                            </uib-accordion>

                        </div>

                    </uib-accordion>
                </div>
            </div>

            <button
                    type="button"
                    class="btn btn-md btn-default"
                    href="#!/view2">
                Export Data
            </button>

        </div>

    </div>


</div>